.navbar {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213, 165, 113, 0.2);
    padding-inline: 40px;
    border-radius: 120px;
    border: 1px solid rgba(213, 165, 113, 1);
    gap: 32px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.btnstyle {
    width: 175px;
}
.navnewbtn {
    width: 160px;
    margin-left: 10px;
}
.navbtn {
    margin-left: auto;
    /* rgba(0, 0, 0, 0.5)" */
}
.navbar p {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s ease;
}
.navbar p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #D5A571;
    transition: width 0.3s ease;
}

.navbar p:hover::before {
    width: 100%;
}

.navbar p:hover {
    color: #f0f0f0;
}
@media (max-width: 500px) {
    .logo {
        width: 100px;
    }
}