.servicecont {
    background-color: #FFF8ED;
}

.servicemargin {
    max-width: 1440px;
    padding-block: 80px 156px;
    margin: auto;
}

.serviceheader {
    max-width: 685px;
    margin: auto;
    text-align: center;
    padding-inline: 16px;
    margin-bottom: 40px;
}

.serviceheader h4{
    font-size: 24px;
    font-weight: 400;
    font-family: "Viaoda Libre", Poppins;
    margin-block: 0px;
    color: rgba(223, 131, 110, 1);
}

.serviceheader p {
    font-weight: 300;
    font-family: Inter;
    color: rgba(98, 35, 44, 1);
    font-size: 18px;
}

.hairstyling {
    background-image: url(https://www.dropbox.com/scl/fi/o85i6ecs4cjh89ddbces1/hairstyling.png?rlkey=dprk9tkrbtwjpxyvqqhh91jor&st=ex2voi8s&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}

.facialstyling {
    background-image: url(https://www.dropbox.com/scl/fi/w9oyewt8tbqrpy7pxg2ob/facials.png?rlkey=gu8jr443nu6mvnualplyfp86y&st=qs4boggf&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}
.nailstyling {
    background-image: url(https://www.dropbox.com/scl/fi/z1rj4qwygu2d0l2azfnvz/nailcare.png?rlkey=8fijs3erg0m9mslgdz0yl0vv7&st=4wa5l5um&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}
.waxstyling {
    background-image: url(https://www.dropbox.com/scl/fi/waosjwmixcaeexlrjh6o3/waxingservice.png?rlkey=fm66qh4b2j81nhw4w8kv4j9sy&st=edsaek15&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}
.bodystyling {
    background-image: url(https://www.dropbox.com/scl/fi/ow2a7vff3smbxo3gx5ik1/bodytreatment.png?rlkey=ygbu2bybh2nyr91wbwu71ab2p&st=4ju1lad0&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}
.eyestyling {
    background-image: url(https://www.dropbox.com/scl/fi/8vv09g6m8swv5fki3bov5/eyemakeup.png?rlkey=b1x83cas7p9y8zlz3nkb8p2zs&st=r5w0c4mb&raw=1);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    height: 332px;
    position: relative;
}

.aboutservice {
    background: white;
    max-width: 363px;
    padding: 32px 20px;
    /* min-height: 150px; */
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.aboutservice h4 {
    font-weight: 400;
    font-size: 28px;
    color: rgba(223, 131, 110, 1);
    margin-block: 0px;
    text-align: center;
    font-family: "Viaoda Libre", Poppins;
}

.aboutservice p {
    font-weight: 400;
    font-size: 16px;
    color: #897A64;
    font-family: Inter;
    margin-block: 16px 0px;
}

.mainservice {
    /* width: 100%; */
    margin: auto;
    margin-inline: 5%;
}

.servicestext {
    max-width: 413px;
    margin: auto;
    text-align: center;
}

.flexitems {
    display: flex;
    margin-top: 150px;
    align-items: center;
    margin-inline: 40px;
    justify-content: space-between;
    gap: 20px;
}
.flexitemstwo {
    display: flex;
    margin-top: 150px;
    align-items: center;
    margin-inline: 40px;
    justify-content: space-between;
    gap: 20px;
}

.servicestext h4 {
    font-family: "Viaoda Libre", Poppins;
    font-weight: 400;
    font-size: 36px;
    color: #897A64;
}

.servicebtn {
    max-width: 170px;
    margin: auto;
}

.servicesimmg img {
    width: 100%;
}
.servicesimg img {
    width: 100%;
}

@media (max-width: 950px) {
    /* .hairstyling,
    .facialstyling,
    .nailstyling,
    .waxstyling,
    .bodystyling,
    .eyestyling {
        height: 500px;
    } */
    .aboutservice h4 {
        font-size: 20px;
    }
    .aboutservice p {
        margin-block: 8px 0px;
    }
    .aboutservice {
        padding: 20px;
    }
    .servicemargin {
        padding-block: 40px 65px;
    }
    .flexitems {
        flex-wrap: wrap-reverse;
        gap: 20px;
    }
    .servicestext h4 {
        font-size: 32px;
        margin-block: 20px;
    }
    .flexitems {
        margin-top: 50px;
        margin-inline: 20px;
    }
    .flexitemstwo img {
        display: none;
    }
    .flexitemstwo {
        margin-top: 30px;
    }
}