.herocont {
    background-image: url(https://www.dropbox.com/scl/fi/b5sj3rzuglo0ke5sf1noe/herobcg.png?rlkey=7gcnv10kew4u2l1nkpqe9ng90&raw=1);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .herotextcont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
} */
.herotext {
    max-width: 650px;
    margin: auto;
    padding-top: 12%;
    text-align: center;
    color: white;
}
.herotext p {
    font-weight: 300;
    font-size: 24px;
    font-family: Inter;
    margin-block: 0px;
}
.herotext h1 {
    font-family: "Viaoda Libre", Inter;
    font-weight: 400;
    margin-block: 16px 0px;
    font-size: 64px;
}
.btnstyle {
    max-width: 180px;
    margin: auto;
    margin-block: 10px;
}
@media (max-width: 500px) {
    .herotext {
        margin-inline: 16px;
        padding-top: 50%;
    }
    .herotext p {
        font-size: 18px;
    }
    .herotext h1 {
        font-size: 32px;
        margin-block: 12px;
    }
}