.aboutcont {
    background-color: #FFF8ED;
}
.aboutmain {
    max-width: 1440px;
    padding-block: 80px 50px;
    margin: auto;
}
.aboutheader {
    max-width: 760px;
    margin: auto;
    text-align: center;
}
.aboutheader h4{
    font-size: 24px;
    font-weight: 400;
    font-family: "Viaoda Libre", Poppins;
    margin-block: 0px;
    color: rgba(223, 131, 110, 1);
}
.aboutheader p {
    font-weight: 400;
    font-family: Poppins;
    color: rgba(98, 35, 44, 1);
    margin-bottom: 40px;
    font-size: 16px;
}
.aboutplayer {
    max-width: 1064px;
    margin: auto;
}
.aboutplayer img {
    max-width: 100%;
    margin: auto;
}
@media (max-width: 500px) {
    .aboutheader {
        margin-inline: 16px;
    }
    .aboutmain {
        padding-block: 40px 70px;
    }
}