.footer {
    background-color: #897A64;
    position: relative;
}

.footercont {
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding-inline: 5%;
    padding-bottom: 80px;
}
.margintop {
    margin-top: 40px;
}
.footerinfo {
    margin-top: 40px;
}
.verticalinfo {
    height: 100%;
    opacity: 16%;
    border-left: 1px solid rgb(255, 255, 255);
    margin-left: 20px;
}
.footerinfo p {
    font-size: 16px;
    font-weight: 400;
    margin-block: 8px;
    color: white;
}
.footerinfo h4 {
    font-weight: 400;
    font-size: 20px;
    font-family: "Viaoda Libre", Poppins;
    margin-block: 0px;
    color: #FFECCF;
}
.footersocials {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}
.unveilbtn {
    max-width: 180px;
    margin: auto;
    margin-top: 48px;
}
.follow {
    margin-top: 45px;
}
.footerbottom {
    width: 85%;
    margin-top: 30px;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* margin-block: 100px 15px; */
}
.footerbottom p,
.footerbottomright p {
    font-weight: 400;
    font-size: 14px;
    color: #FFF8ED;
    font-family: "Viaoda Libre", Poppins;
}
.footerbottomright {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    right: 72px;
}

@media (max-width: 500px) {
    .verticalinfo {
        display: none;
    }
    .footerinfo {
        margin-top: 15px;
    }
    .footercont {
        padding-bottom: 60px;
    }
    .margintop {
        margin-top: 15px;
    }
}